@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin:0;
  padding: 12px;  
  box-sizing: border-box;
 }
body {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}
#logo {
  
  width: 20vw;
}
h1 {
  color: white;
  font-family: "Merriweather", serif;
}
#robo {
  color: rgb(183, 57, 11);
  font-size: 45px;
}
#name {
  color: aqua;
  font-size: 45px;
}
#voice {
  width: 200px;
  display: none;
}
#btn {
  width: 30%;
  background: linear-gradient(to right, rgb(230, 151, 3), rgb(0, 68, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  font-size: 20px;
  border-radius: 35%;
  color: white;
  border: none;
  transition: 0.5s;
  box-shadow: 2px 2px 10px rgb(232, 151, 0), 2px 2px 10px rgb(0, 68, 255);
}
#btn:hover {
  box-shadow: 2px 2px 20px rgb(232, 151, 0), 2px 2px 20px rgb(0, 68, 255);
  letter-spacing: 2px;
}
